// GUJSTRAP WEBKIT START

.h-test {
  height: 50px;
}

.b-test {
  border: 1px solid red;
}

.bh-test {
  border: 1px solid red;
  height: 50px;
}

.gj-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-rel {
  position: relative;
}

.p-ab {
  position: absolute;
}

// GUJSTRAP WEBKIT END
